{% extends 'base_inner.html' %} {% load static %} {% block title %}Manvei | Change Password {% endblock %} {% block content %}

<div class="row bg-white mx-1 p-lg-3 p-1 box_color w-100">
   

    <div class="col-lg-8">
        <div class="card">
             <div class="card-header card-header-primary mb-2 bg-dg text-white">
               <h5 class="card-title mb-0">Change Password</h5>
            </div>
            <div class="card-body">
                <form name="form" role="form" autocomplete="off" method="POST">
                    {% csrf_token %}

                    <div class="row">
                        <div class="col-12 col-lg-12 pt-2 pt-md-0 my-2">
                            <fieldset>
                                <label for="old_password_field">Enter Old Password</label>
                                
                                <input type="password" id="old_password_field" name="old_password_field" class="reset_value form-control" ng-model="user.old_password_field" ng-init="user.old_password_field=''"  ng-blur="verification_old_password(user.old_password_field,user.user_id)"  onkeyup="space_remover(this)"  >
                                <div class="after"></div>
                                <span  class="message_display" style="font-weight:none!important">
                                      
                                </span>
                             
                            </fieldset>
                        </div>
                       
                        <div class="col-12 col-lg-12 pt-2 pt-md-0 my-2 disabled email_field_hide ">
                          <fieldset>
                             <label for="email">Enter New Password</label>
                             <input type="password"  id="password" name="password" class="reset_value  form-control " ng-model="user.password" ng-init="user.password=''" style="background-color:white" ng-blur="validation('password',user.password)" maxlength='15' minlength='6' ng-keypress="no_space_validation($event)" title="Use minimum 6 characters" >
                             <div class="after"></div>
                             <span ng-messages="myForm.password.$error" style="color:red;font-size:12px" role="alert" >
                             <%passwordid_err%>
                             </span>
                          </fieldset>
                       </div>
                        <div class="col-12 col-lg-12 pt-2 pt-md-0 my-2 email_field_hide disabled">
                          <fieldset>
                             <label for="email">Confirm Password</label>
                             <input type="password"  id="conpassword" name="conpassword" class="reset_value  form-control " ng-model="user.conpassword" ng-init="user.conpassword=''" style="background-color:white" ng-blur="validation('conpassword',user.conpassword)" maxlength='15' minlength='6' ng-keypress="no_space_validation($event)" title="Use minimum 6 characters">
                             <div class="after"></div>
                             <span ng-messages="myForm.conpassword.$error" style="color:red;font-size:12px" role="alert" >
                             <%passwordid1_err%>
                             </span>
                          </fieldset>
                       </div>
                       
            </div>

            <div class="col-12 pt-3 text-center email_field_hide disabled">
                    <button class="btn-login btn text-white  bg-dg h5" ng-click="update_user_password(user)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Update</button>
     
            </div>

            </form>
        </div>
    </div>

    
   
</div>

{% endblock %}