{% extends 'index.html' %}
{% load static %}
{% block title %}Manvei | Registration{% endblock %}
{% block content %}

<section class="main_sec set_div_length h-auto  home_div bg-white d-flex justify-content-center align-items-center">

  
  
   <div class="container">
      <div class="row" style="padding-top:60px">
         
         <div class="col-lg-12 px-2">
            <div class="boxs  p-lg-4">
               <h4 class=" text-dg text-center mb-3 text-uppercase"> User Registration </h4>
            </div>

         </div>

      </div>


      <div class="row mb-lg-2">
         <div class="col-lg-6">
            <div class="form-group bmd-form-group mt-1">
               <label class="">Full Name</label>
              
               <input type="text"   class="empty_value input--style-4 w-100" placeholder="Full Name" id="first_name"  name="name" ng-model="user.name" ng-init="user.name=''" ng-blur="validation('name',user.name)" ng-keyup="user.name=user.name.toUpperCase()" onkeyup="onlyletters(this)">
               <p ng-messages="myForm.name.$error" style="color:red;font-size:12px;text-transform:none!important" role="alert" class="empty_value">
                     <%fullnameerr%>

               </p>

            </div>
         </div>
         

         <div class="col-lg-6">
            <div class="form-group bmd-form-group">
               <label class=""> Mobile Number</label>
               <input type="text"   class="empty_value input--style-4 w-100"  placeholder="Mobile Number" id="mobile_no"  name="mobile_no" ng-model="user.mobile_no"  ng-blur="validation('mobile_no',user.mobile_no)" ng-change="fetch_passport_number(user.mobile_no)" ng-init="user.mobile_no=''" onkeyup="onlynumbers(this)" maxlength='10'>
                  <p ng-messages="myForm.mobile_no.$error" style="color:red;font-size:12px;text-transform:none!important" role="alert" class="empty_value" ;>
                           <%mobile_err%>
                  </p/>
            </div>
         </div>
      </div>
                   
      <div class="row mb-2">
         <div class="col-lg-6">
            <div class="form-group bmd-form-group">
               <label class="">Email Address</label>
               <input type="text"   class="empty_value input--style-4 w-100"  placeholder="Email Address" id="email_id"  name="email_id" ng-model="user.email_id" ng-keyup="user.email_id=user.email_id.toLowerCase()" ng-blur="validation('email_id',user.email_id)" ng-init="user.email_id=''"  ng-trim="false" custom-filter-validation  >
                  <p ng-messages="myForm.email_id.$error" style="color:red;font-size:12px;text-transform:none!important" role="alert" class="empty_value" ;>
                           <%email_err%>
                  </p/>
            </div>
         </div>

         <div class="col-lg-6">
            <div class="form-group bmd-form-group">
               <label class="">Passport Number</label>
               <input type="text"   class="disabled empty_value input--style-4 w-100"  placeholder="Passport Number"  id="passport_no" name="passport_no" ng-model="user.passport_no" ng-keyup="user.passport_no=user.passport_no.toUpperCase()" ng-blur="validation('passport_no',user.passport_no)" ng-init="user.passport_no=''"   maxlength='8' ng-trim="false" custom-filter-validation>
                  <p ng-messages="myForm.passport_no.$error" style="color:red;font-size:12px;text-transform:none!important" role="alert" class="empty_value" ;>
                           <%passport_no_err%>
                  </p/>
            </div>
         </div>
         
      </div>
                  
     

       <div class="row">
         <div class="col-lg-6 my-2">
            <div class="form-group bmd-form-group">
               <label class="">Date of Birth</label>
               <input type="text"   class="empty_value input--style-4 w-100" name="date_birth" placeholder="dd/mm/yyyy"  id="date_birth_id"  ng-model="user.date_birth"  ng-blur="validation('date_birth',user.date_birth)" ng-keyup="validation('date_birth',user.date_birth)"  ng-init="user.date_birth=''" ui-date-mask parse="false" placeholder="dd/mm/yyyy" model-view-value="true" >
               <p ng-messages="myForm.date_birth.$error" style="color:red;font-size:12px;text-transform:none!important" role="alert" class="empty_value">
                  <%date_iderr%>
               </p>
            </div>
         </div>
         <div class="col-lg-6 my-2">
            <div class="form-group bmd-form-group">
               <label class="">Age</label>
                <input type="text"   class="disabled empty_value input--style-4 w-100"  placeholder="Age" id="age"  name="age" ng-model="user.age"  ng-init="user.age=''"  >
            </div>
         </div>
      </div>

       <div class="row">
         <div class="col-lg-6 my-2">
            <div class="form-group bmd-form-group">
               <label class="">Upload Personal Photo:</label>
               <input type="file" class="ml-2   " id="image_hide" ng-model="euin1_f" base-sixty-four-input style="display: inline;opacity:1;position:static" ng-init="euin1_f=''"  accept="image/*" ng-file1-select="onFileSelect($files)">
               <div class="thumbnail">
                  <div class="preview"></div>
                  <img style="display:inline!important" ng-src="<%update_photo1%>" ng-model="euin1_f" width="100%" id="view3"/>
               </div>
               <span ng-messages="myForm.image_hide.$error" style="color:maroon;font-size:12px" role="alert">
               <%imageerr1%>
               </span>
            </div>
         </div>
         
      </div>

      <div class="text-center ">
         <div class="offset-xs-3 col-xs-9">
            <button type="submit" class="btn  btn-danger" id="register_button_id" ng-click="registeration_user_data(user)">Submit</button>
         </div>
      </div>
      
   </div>

</div>
<style>
   .overlay_div 
   {
   position: fixed; 
   width: 100%; 
   height: 100%; 
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   
   
   cursor: pointer; 
   overflow-y: scroll;
   }
   .box_item{background:#ffffff;}
   .reg_process ul li a{font-size:16px;}
   .admin_page label{margin-left:0px !important;}
  
</style>









{% endblock %}