{% load static %}
<div class="sidebardiv">
   <div class="overlay_sec   h-100 h-auto-mob bdr-top" id="mySidebar">
      <div id="Icon_close" class="Icon_close text-white hvr-grow-shadow  position-absolute menuBar" onclick="closeNav()">
         <i class="fa fa-times-circle h1" aria-hidden="true"></i>
      </div>
      <div class="col-lg-3 col-md-4 offset-lg-9 offset-md-8 px-0 bg-white h-100">
         <div class="col-lg-12 bg-dg  py-1 pl-3 home-sec-1">
            <img src="{% static 'outer/img/website/logo_white.png' %}" alt="" class="w-sm-60">
            <div class="text-white mt-1">
               <h5> Hi {{get_firstname}}</h5>
               <h6> <% greeting_name %> </h6>
            </div>
         </div>
         <div class="col-lg-12  p-0">
            <table class="table table-borderless mx-auto sidebar-table text-left text-uppercase text-dg">
               <tbody>
                  <tr onclick="window.location.href='{% url 'dashboard'  %}'" >
                     <td class="py-1">
                        <p class=" py-2  mb-0"><i class="fa fa-question-circle" aria-hidden="true"></i> Dashboard</p>
                     </td>
                  </tr>
              
                  <tr onclick="window.location.href='{% url 'change-password'  %}'" >
                     <td class="py-1">
                        <p class=" py-2  mb-0"><i class="fa fa-question-circle" aria-hidden="true"></i> Change Password</p>
                     </td>
                  </tr>
                  <tr onclick="window.location.href='{% url 'logout_view' %}'">
                     <td class="py-1">
                        <p class=" py-2  mb-0"><i class="fa fa-power-off" aria-hidden="true"></i> Logout 
                        </h6>  </p>  
                  </tr>
               </tbody>
            </table>
         </div>
      </div>
   </div>
</div>