/* Extra small devices (phones, 600px and down) */

 
@media only screen and (max-width: 600px) {
  body {background: #f1f1f1;}
  .img-left-logo{width: 55px;}
  .img-logo-xs img{width:20px;}
  .img-logo-xs_2 img{width:30px;}
  
  #breadcrumb li a{padding: 0 0px 0 0px;font-size: 10px;
    height: 28px;
    line-height: 28px;}

    #breadcrumb li:last-child a{padding-right: 8px;}

  #breadcrumb li a:before, #breadcrumb li a:after{border-width: 14px 10px;}
  
  #mySidebar p{font-size:13px;}
  .feedback img{width:60px;}
  .feedback h4{font-size:16px;}
  #triangle-topright{right: 8px;}
  #triangle-topright img{width:25px;}
  
    #mySidebar{
     background: rgb(255, 255, 255) !important;
   
    overflow-y: scroll
	}
  
  .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_paginate{
		 font-size: 10px !important;
	}
	.mob-d-none{display:none;}

	table.dataTable thead th, table.dataTable thead td{ padding: 11px 0px;}
	.h-auto-mob{height:auto !important;}
	.owl-two .owl-item img{width:75%;}
	.progress-circle{    width: 90px;
    height: 90px;}
	
  .cd-multi-steps .current::after {
    background: #ffffff !important;
   }
   
   .cd-multi-steps{padding-inline-start: 0px;}
   .cus_table tbody>tr>th,td{font-size:14px;}
   .cus_table tbody>tr>td{    padding-bottom: inherit;
    padding-top: inherit;}
	.cus_table tbody>tr{     margin-bottom: 10px;}
	.cus_table tbody>tr>th{padding-bottom: 5px;}
	.box-item-style-1 h6{text-align:left;}
	.cus_fonts{font-size: 18px;}
	
	.title_head h4,h5{font-size:100%;}
	.home-sec-1 h6{font-size:15px;}
	.home-sec-2 h6{font-size:12px;}
	.home-sec-2 .box-item-style-1{ padding-top:10px !important;padding-bottom:10px !important;}
	.home-sec-1 .w-sm-60{width: 160px;}
	.img-audio-logo{width:120px !important;}
	.w-svg{width:70px;}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  
  .routine_title{font-size: 18px;}
  .routine_title_sub{font-size: 16px;}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  

} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  
  .feedback img{width:60% !important;}
}
  
